@font-face {
    font-family: 'RedHatText';
    src: url('assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RedHatTextBold';
    src: url('assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
h1 {
    font-family: 'RedHatTextBold', sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
}
body {
    font-family: 'RedHatText', sans-serif;
    background-color: #FCF8F5;
}
.app-container {
   display: grid;
  /* Левая колонка большая, правая по контенту или фиксированная */
  grid-template-columns: 1fr 380px; 
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: start;

}

.products-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 20px;
}
.products-header img {
    width: 100%;
    border-radius: 8px;
    display: block;
}
.products-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.categorie {
    color: #87635A !important;
    font-size: 14px;
    opacity: 0.7;
}
.products-info p {
    font-size: 14px;
    line-height: 1.2;
    color: #C73B0F;
    font-weight: 700;
}
.products-info h3 {
    font-size: 16px;
    margin: 4px 0;
    color: #260F08;
    line-height: 1.5;
}
.add-to-cart-btn img {
    width: 20px;
    height: 20px;
}
.add-to-cart-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);


    width: 145px;
    height: 40px;
    background-color: #FCF8F5;
    border: 1px solid #87635a;
    border-radius: 25px ;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.add-to-cart-btn:hover {
    color: #C73B0F;
    border-color: #C73B0F;
}
.add-to-cart-btn:hover img {
    filter: invert(32%) sepia(85%) saturate(3695%) hue-rotate(10deg) brightness(92%) contrast(94%);
}
aside {
    padding: 24px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    align-self: flex-start;
}
aside img {
    width: 150px;
    height: 150px;

}
aside h1 {
    color: #C73B0F;
    font-size: 24px;
}
.cart-section-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.cart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.cart-section p {
    color: #87635A;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.total {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 700;
    color: #260F08;
}
.total-order {
    color: #918a88;
    font-size: 14px;
}
.total-price {
    color: #260F08;;
    margin-left: 150px;
    font-size: 24px;
    font-weight: 800;
}
.carbon-neutral img {
    width: 20px;
    height: 20px;
}
.selected-border {
    border: 2px solid hsl(14, 86%, 42%);
}
.quantity-value {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.quantity-control {
    display: flex;
    justify-content: space-between;
    background-color: hsl(14, 86%, 42%);
    padding: 10px 15px;
    border-radius: 20px;
    width: 145px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.quantity-control button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}
.quantity-control button img {
    width: 9px;
    height: 9px;
}
.quantity-control button:hover img {
    filter: invert(32%) sepia(85%) saturate(3695%) hue-rotate(10deg) brightness(92%) contrast(94%);
}
.quantity-control button:hover {
    background-color: #fff;
}
.hidden {
    display: none !important;
}
.cart-item {
    display: flex;
    flex-direction: column;
    
}
.cart-item-info {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}