@font-face {
    font-family: 'RedHatText';
    src: url('assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RedHatTextBold';
    src: url('assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
h1 {
    font-family: 'RedHatTextBold', sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
}
body {
    font-family: 'RedHatText', sans-serif;
    background-color: #FCF8F5;
}
.app-container {
   display: grid;
  /* Левая колонка большая, правая по контенту или фиксированная */
  grid-template-columns: 1fr 380px; 
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: start;

}

.products-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 20px;
}
.products-header img {
    width: 100%;
    border-radius: 8px;
    display: block;
}
.products-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.categorie {
    color: #87635A !important;
    font-size: 14px;
    opacity: 0.7;
}
.products-info p {
    font-size: 14px;
    line-height: 1.2;
    color: #C73B0F;
    font-weight: 700;
}
.products-info h3 {
    font-size: 16px;
    margin: 4px 0;
    color: #260F08;
    line-height: 1.5;
}
.add-to-card-btn img {
    width: 20px;
    height: 20px;
}
.add-to-card-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);


    width: 145px;
    height: 40px;
    background-color: #FCF8F5;
    border: 1px solid #87635a;
    border-radius: 25px ;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
aside {
    padding: 24px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    align-self: flex-start;
}
aside img {
    width: 150px;
    height: 150px;

}
aside h1 {
    color: #C73B0F;
    font-size: 24px;
}
.cart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.cart-section p {
    color: #87635A;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}